# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\07 Practices\05 Java_General\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
